<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>Latest Coursera Classes</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      .notice {
      	color: green;
      	font-weight: bold;
      	text-align: center;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
    <div class="container-narrow">

    	<div class="masthead">
        <h3 class="muted">Coursera Class Tracker</h3>
        </div>

        <div id='flash' class='notice'>
		 	<% if flash[:notice] %>  
		    <p class="notice"><%= flash[:notice] %>  
		<% end %>  
		</div>


        


	</div>
    
    <hr>
	<div class="jumbotron">
        <h4>Get email notifications whenever new courses are added!</h1>
        <form action="/emailSubmit" method="post">
			<input type="text" name = "newemail" placeholder="Email&hellip;">
			<p><button class="btn btn-small btn-primary" type="submit">Subscribe</button></p>
		</form>
    </div>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>