<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>LOL Stats</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

</head>

<body>

	<%= @post %>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>