<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>LOL Stats</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/highcharts.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
		    $("form").submit(function(){

		  	var champion = $("input[name=inputchamp]").val()

		  	$.post("/plswork",{playerid: <%= params[:playerid] %>, herp: champion},
		  		function(data,status) {
		  			data = JSON.parse(data);
		  			console.dir(data);

  					var names = new Array();
  					var dataPoints = new Array();
  					var length = new Array();
					for(i = 0; i < data.length; i++) {
						names.push(data[i].champion);
						dataPoints.push(data[i].minions);
						length.push(data[i]["length"]);
					}
		  			document.getElementById("para").innerHTML = data[0]["length"];
					graphfnc(names,dataPoints, length)
		  		})
		    return false;
		  });
		});

	  	function graphfnc(names,minions,length) {
		    $('#container').highcharts({
		        chart: {
		            type: 'bar'
		        },
		        title: {
		            text: 'Minions Killed'
		        },
		        xAxis: {
		            categories: names
		        },
		        yAxis: {
		            title: {
		                text: 'Champion'
		            }
		        },
		        series: [{
		        	name: 'Minions Killed',
		            data: minions
		        }],
		        tooltip: {
				    formatter: function() {
				        return 'Minion Kills: <b>' + this.y + ' </b><br>Game Length: <b>' + length[this.point.x] + '</b>';
				    }
				}
		    });
		}

		function avgMinions(data) {
			avgMinions = 0
			for(i = 0; i < data.length; i++) {
				avgMinions += data[i].minions;
			}
			console.dir(avgMinions/i);
		}

		function avgKDR(data) {
			avgKDR = 0
			for(i = 0; i < data.length; i++) {
				avgKDR += (data[i].kills + (data[i].assists/2)) / data[i].deaths;
				console.dir(avgKDR);
			}
			console.dir(avgKDR/i);
		}

	</script>

</head>

<body>

	<form post="#">
		<input type="text" name="inputchamp" placeholder="Champion&hellip;">
		<button type="submit">Submit</button>
	</form>
	<button type="submit" name="trollme">Submit</button>
	<div class="textdata" style="font-size:30px">PLS</div>
	<p id="para">LOL</p>
	<div id="container" style="width:100%; height:400px;"></div>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>